html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  font-family: "Franklin Gothic Book Condensed", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
  padding-top: 40px;
}
h1, h2, h3 {
  font-family: "Franklin Gothic Heavy", Arial, sans-serif;
  margin: 5px 0;
  color: #024890;
}
a {
  color: #024890;
}
a:hover {
  text-decoration: none;
}

/* HEADER & NAV */
body > header {
  margin-bottom: 40px;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}
h1 {
  line-height: 1.1;
}
header p {
  margin: 5px 0;
  font-family: "Franklin Gothic", Arial, sans-serif;
  font-size: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin: 5px;
}
nav a {
  padding: 20px 0 40px 20px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline wavy #f5b706;
}

@media (min-width: 781px) {
  nav {
    width: 250px;
    float: right;
  }
  nav ul {
    justify-content: end;
  }
}
@media (max-width: 780px) {
  header {
    text-align: center;
  }
  nav ul {
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
  }
  nav a {
    padding: 20px;
  }
}

/* MAIN */
main img {
  width: 25%;
  margin-bottom: 20px;
  
}


/* FOOTER */
footer {
  border-top: 1px solid black;
  margin-top: 50px;
}

footer img {
	width: 25%;
}


/* BLOG */
article {
  margin-bottom: 40px;
  border-bottom: 1px solid #f5b706;
  padding-bottom: 40px;
}
article:last-of-type {
  border: none;
  padding: 0;
}
article header p,
time {
  font-family: "Franklin Gothic", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
article h2 {
  margin-bottom: 0;
}


/* CONTACT */
form {
  padding: 30px 25px;
  border: 1px solid #e0dfdf;
  background: #eeeeee;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  font-size: 22px;
  font-weight: bold;
  font-family: "Franklin Gothic", Arial, sans-serif;
  padding: 0 0 15px;
}
input, textarea, button {
  width: 100%;
  border-radius: 4px;
}
input, textarea {
  margin: 5px 0 15px;
  height: 30px;
  border: 1px solid #e0dfdf;
  padding: 6px;
}
textarea {
  height: 100px;
}
button {
  font-weight: bold;
  background-color: #024890;
  color: white;
  font-size: 16px;
  height: 40px;
  border: none;
}